*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(1, 1, 196);
}

.container{
    background-color: grey;
    height: 400px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 8px 8px 1rem black;
    overflow: auto;
}

input{
    padding: 10px;
    margin-right: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: #fff;
}

li{
    margin: 20px 0 10px 0;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}